@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #1F2937;
    padding: 16px;
    color: #F9FAF8;
}

.logodiv {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
}

ul{
    list-style: none;
    display: flex;
}

ul, .logo {
    gap: 16px;
    padding: 0;
    margin: 0;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.super-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
}

.hero {
    display: flex;
    margin-right: 40px; /*still have to decide wether to use margin or padding to space elements*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    height: 200px;
}

button {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 28px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#hero-image {
    width: 500px;
    height: 200px;
}

#main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

#sub-text {
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    text-align: center;
}

#info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    
}

.random-info {
    display: flex;
    justify-content: center;
}

.white-image {
    width: 170px;
    height: 170px;
    border: 5px  solid #3882F6;
    border-radius: 15px;
}

.text {
    max-width: 200px;
    color: grey;
}
